<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Ebill</display-name>
    <servlet-name>Ebill</servlet-name>
    <servlet-class>com.project.ebill.Ebill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ebill</servlet-name>
    <url-pattern>/ebill</url-pattern>
  </servlet-mapping>
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>WelcomePage.jsp</welcome-file>
    <welcome-file>Generate.jsp</welcome-file>
    <welcome-file>Viewbill.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Viewreciept</display-name>
    <servlet-name>Viewreciept</servlet-name>
    <servlet-class>com.project.ebill.Viewreciept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewreciept</servlet-name>
    <url-pattern>/viewreciept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewreceipt</display-name>
    <servlet-name>Viewreceipt</servlet-name>
    <servlet-class>com.project.ebill.Viewreciept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewreceipt</servlet-name>
    <url-pattern>/viewreceipt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pdfdisplay</display-name>
    <servlet-name>pdfdisplay</servlet-name>
    <servlet-class>com.project.ebill.pdfdisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pdfdisplay</servlet-name>
    <url-pattern>/pdfdisplay</url-pattern>
  </servlet-mapping>
</web-app>